<a href="https://colab.research.google.com/github/aquiehti/aulas/blob/master/Copy_of_N%C3%BAmeros_Inteiros_vs_Floats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Inteiros e Floats

Os números inteiros (como 5, 4, 33) são do tipo `int`, enquanto aqueles números que carregam uma parte fracional (como 5.5, 3.33, 3.14, 5.0) são do tipo `float`. No começo, lidar com tipos de números pode ser confuso, mas a prática vai fazer você entender.

Para saber o tipo de uma variável, você pode usar a função `type`.

No primeiro exemplo, vemos que o número 5 não possui parte fracional, por isso, é um inteiro.

In [0]:
# verificando o tipo. Aqui, o 5 é inteiro.
type(5)

int

Quando adicionamos uma parte fracional, o número se torna um `float`.

In [0]:
# a variável abc representa o número 44.44, que tem parte fracional, portanto, float.
abc = 44.44
type(abc)

float

Caso adicionemos parte fracional ao nosso 5 (`int`), ele passa a ser um `float`, mesmo que a parte fracional seja 0.

In [0]:
# aqui o 5.0 é um float.
type(5.0)

float

Em mais um exemplo podemos ver que pi é um número com parte fracional, portanto, `float`.

In [0]:
pi = 3.14
type(pi)

float

Na documentação oficial do Python encontramos que ao fazer a divisão de números inteiros, temos por resultado um número `float`, mesmo que a divisão seja inteira.

In [0]:
# divisão de inteiros
y = 3 / 3
print(y)
type(y)

1.0

float

In [0]:
# uma divisão SEMPRE vai retornar um float como resultado
print(type(3 / 3))
print(type(10.0 / 5))
print(type(10.0 / 2.0))

<class 'float'>
<class 'float'>
<class 'float'>

Existem momentos em que você vai querer converter um `float` em `int`. Isso pode ser feito com `int()`. O mesmo vale para a operação contrário, bastando indicar a variável dentro dos parênteses.

In [0]:
idade = 35.00
type(idade)

float

In [0]:
# converter
idade = int(idade)
type(idade)

int

In [0]:
float(3)

3.0

Existe ainda uma opção quando eu quero realizar uma divisão, porém quero ficar apenas com a parte inteira de um número, descartando toda a parte fracionária. Essa operação pode ser feita usando `//`.

In [0]:
print(11 / 3)  # divisão normal com /
print(11 // 3) # divisão usando //

3.6666666666666665
3

## Exercícios

Agora que vimos um pouco mais sobre inteiros e floats, vamos praticar um pouco.

#### Exercício 1
Transforme o resultado a divisão de inteiros em inteiro.

$$
\begin{aligned}
x & = 25 / 5
\end{aligned}
$$

In [5]:
# resposta
x = int (25 / 5)
print (x)
type (x)

5

int

In [1]:
#@title Solução
x = 25/5
print('Resultado como float: ', x)
print('Tipo: ', type(x))
#transformando em int
x = int(x)
print('Resultado como integer: ', x)
print('Tipo: ', type(x))

Resultado como float:  5.0
Tipo:  <class 'float'>
Resultado como integer:  5
Tipo:  <class 'int'>

#### Exercício 2
Use a função `type()` para descobrir os tipos das seguintes variáveis:

In [0]:
# variáveis
x = 33
y = 33/3
z = 33.5

In [7]:
# resposta
print (type (x))
print (type (y))
print (type (z))

<class 'int'>
<class 'float'>
<class 'float'>

In [8]:
#@title Solução
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'float'>

#### Exercício 3
Usando as variáveis do exercício anterior, transforme todas elas em `int`.

In [14]:
# resposta
x = int(x)
y = int(y)
z = int(z)

print (type(x))
print (type(y))
print (type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [0]:
#@title Solução
x = int(x)
y = int(y)
z = int(z)

# conferindo os tipos
print(type(x))
print(type(y))
print(type(z))

#### Exercício 3
Usando as variáveis do exercício anterior, transforme todas elas em `float`.

In [16]:
# resposta
x = float(x)
y = float(y)
z = float(z)

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [0]:
#@title Solução
x = float(x)
y = float(y)
z = float(z)

# conferindo os tipos
print(type(x))
print(type(y))
print(type(z))